@import "../../scss/font.scss";
@import "../../scss/containers.scss";
@import "../../scss/colours.scss";
@import "../../scss/flex.scss";

.Projects {
    padding-top: $header__height * 2;
    @include flex(column, flex-start, center);
    min-height: 100vh;
    @include font($light);

    &__container {
        @include flex(column, flex-start, center);
        @include background($dark);
        padding: 0px 20px;
    }

    &__Title {
        // padding-top: $header__height;
    }

    &__Card {
        @include flex(row, flex-start, center);
        text-align: center;
        width: 1200px;
        padding: 10px 0px;

        &_Image {
            @include flex(column, center, center);

            background-color: rgba(245, 245, 245, 0.227);
            height: 300px;
            width: 40%;
            border-radius: 10px;
        }

        &_Details {
            @include flex(column, center, center);
            height: 300px;
            width: 60%;

            p {
                text-align: justify;
            }
        }
    }
}
