@import "../../scss/font.scss";
@import "../../scss/containers.scss";
@import "../../scss/colours.scss";
@import "../../scss/flex.scss";

.Projects {
    padding-top: $header__height;
    @include flex(column, flex-start, center);
    min-height: 100vh;
    // margin-left: auto;
    // margin-right: auto;
    @include font($light);
    margin-bottom: 200px;

    &__container {
        @include flex(column, flex-start, center);
        @include background;
        max-width: 80vw;
        flex-wrap: wrap;
        @include xsmall {
            max-width: 90vw;
        }
        @include small {
            max-width: 60vw;
        }
        @include medium {
            max-width: 50vw;
        }
        @include large {
            max-width: 80vw;
        }
    }
    &__Title {
        padding: 20px 0px;
        // padding-top: $header__height;
        // @include background;
        text-align: center;
    }

    &__Cards {
        padding-bottom: 50px;
        @include flex(row, center, flex-start);
        flex-wrap: wrap;
    }

    &__Card {
        @include flex(column, flex-start, center);
        @include boxBackground($card, 10px, 50px);
        width: 390px;
        height: 580px;
        padding: 15px;
        margin: 20px 40px;

        @include xsmall {
            width: 250px;
            height: auto;
        }
        @include small {
            width: 300px;
            height: auto;
        }
        @include medium {
            width: 390px;
            height: auto;
        }

        img {
            border-radius: 10px;
            // padding: 10px;
            max-width: 390px;
            @include xsmall {
                max-width: 250px;
            }
            @include small {
                max-width: 300px;
            }
            @include medium {
                max-width: 390px;
            }
        }

        &_Details {
            @include flex(column, flex-start, center);
            // z-index: 2;
            // padding: 10px;
            // position: relative;
            // color: rgba(255, 255, 255, 0);

            // height: 400px;
            text-align: justify;

            h3 {
                // margin: 10px;
                text-align: center;
                padding: 5px 0px;
            }

            a {
                @include font($light);
                text-decoration: none;
                transition: 0.5s;
                &:hover {
                    color: #2dc2bd;
                    transition: 0.5s;
                }
            }

            p {
                text-align: justify;
                // padding: 0px 10px;
            }
        }
    }
}
