@import "../../scss/font.scss";
@import "../../scss/containers.scss";
@import "../../scss/colours.scss";
@import "../../scss/flex.scss";

.Skills {
    padding-top: $header__height;
    @include flex(column, flex-start, center);
    min-height: 100vh;
    @include font($light);

    &__container {
        @include flex(column, flex-start, center);
        @include background;
        max-width: 55%;
        padding-bottom: 50px;
        @include xsmall {
            max-width: 90vw;
        }
        @include small {
            max-width: 90vw;
        }
        @include medium {
            max-width: 70vw;
        }
        @include large {
            max-width: 70vw;
        }
    }

    &__title {
        padding: 20px 0px;
        text-align: center;
    }
    &__icon_flex {
        @include flex(row, center, center);
        // max-width: 50%;
        flex-wrap: wrap;
    }
    &__box {
        @include flex(column, flex-start, center);
        flex-wrap: wrap;
        padding: 0%;
        // margin: 20px 20px;
        height: 145px;
        width: 145px;
        text-align: center;

        &__icon {
            width: 65px;
            height: 65px;
            transition: 0.3s;
            @include boxBackground;
            @include flex(column, space-around, center);
            margin-bottom: 5px;

            img {
                border-radius: 5px;
                width: 50px;
                height: 50px;
                transition: 0.3s;
            }
            &:hover {
                width: 85px;
                height: 85px;
                filter: brightness(130%);

                img {
                    width: 70px;
                    height: 70px;
                    transition: 0.3s;
                }
                transition: 0.3s;
            }

            &:hover + p {
                // color: black;
                font-size: 120%;
                transition: 0.3s;
            }
        }

        &__text {
            @include flex(column, flex-start, center);
            transition: 0.7s;
        }
    }
}

// .Skills {
//     @include flex(column, flex-start, center);
//     min-height: 100vh;
//     // background-color: royalblue;
//     @include nomargin;
//     @include font($light);
//     // width: 100vw;
// }

// .title {
//     padding-top: $header__height;
// }

// .icon_flex {
//     @include flex(row, center, center);
//     width: 54%;
//     flex-wrap: wrap;
// }

// .box {
//     @include flex(column, space-between, center);
//     flex-wrap: wrap;
//     /* border: 1px solid black; */
//     padding: 0%;
//     margin: 10px;
//     height: 110px;
//     width: 150px;
// }
