@import "../../scss/font.scss";
@import "../../scss/containers.scss";
@import "../../scss/colours.scss";
@import "../../scss/flex.scss";

.About {
    padding-top: $header__height;
    @include flex(column, flex-start, center);
    min-height: 100vh;
    @include font($light);
    &__container {
        @include flex(column, flex-start, center);
        @include background($dark);
        flex-wrap: wrap;
        max-width: 65%;
    }
}
