@import "../../scss/font.scss";
@import "../../scss/containers.scss";
@import "../../scss/colours.scss";
@import "../../scss/flex.scss";

.Home {
    display: grid;
    height: 100vh;
    // padding-top: $header__height;
    margin-top: $header__height;
    grid-template-columns: 1fr 1fr;
    @include font($light);

    &__container {
        @include flex(column, left, center);
        @include nomargin;

        &__item {
            @include flex(column, center, center);
            @include background($dark);
            padding: 20px;
            margin: 5%;
        }
    }
}
