@import "../../scss/font.scss";
@import "../../scss/containers.scss";
@import "../../scss/colours.scss";
@import "../../scss/flex.scss";

.Header {
    @include fixed-top;
    height: $header__height;
    @include nomargin;
    @include flex(row, space-between, center);
    @include headerBackground;
    width: 100vw;
    // z-index: 20;

    &__left {
        @include flex(row, space-around, center);
        padding: 0% 5%;
        // width: 70%;
    }
    &__right {
        @include flex(row, space-around, center);
        width: 50%;
        @include xsmall {
            width: 70%;
        }
    }
}

.nav_link {
    text-decoration: none;
    @include font($light);
    transition-duration: 0.4s;
    &:hover {
        color: #2dc2bd;
        // backdrop-filter: none;
        transition-duration: 0.4s;
    }
}
