@import "../../scss/font.scss";
@import "../../scss/containers.scss";
@import "../../scss/colours.scss";
@import "../../scss/flex.scss";

.header {
    @include fixed-top;
    height: $header__height;
    @include nomargin;
    @include flex(row, space-around, center);
    @include background($dark, 0px);
    width: 100vw;
    // z-index: 20;
}

.nav_link {
    text-decoration: none;
    @include font($light);

    &:hover {
        color: #2dc2bd;
        // backdrop-filter: none;
        transition-duration: 0.5s;
    }
}
