@import "./devices";
// $h1: 3rem;
// $h2: 2rem;
// $h3: 2rem;
// $p: 1.2rem;

@mixin fonts {
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
    // "Roboto"
    @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap");
    // 'Roboto Condensed'
    $headers: "Roboto Condensed";
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Roboto Condensed";
    }

    @include xsmall {
        $h1: 2rem;
        $h2: 1.5rem;
        $h3: 1.2rem;
        $p: 1rem;

        h1 {
            font-size: $h1;
            @include nomargin;
        }
        h2 {
            font-size: $h2;
            @include nomargin;
        }
        h3 {
            font-size: $h3;
            @include nomargin;
        }
        p {
            font-size: $p;
            @include nomargin;
        }
    }

    @include small {
        $h1: 2rem;
        $h2: 1.5rem;
        $h3: 1.1rem;
        $p: 1rem;

        * {
            font-family: "Teko";
        }

        h1 {
            font-size: $h1;
            @include nomargin;
        }
        h2 {
            font-size: $h2;
            @include nomargin;
        }
        h3 {
            font-size: $h3;
            @include nomargin;
        }
        p {
            font-size: $p;
            @include nomargin;
        }
    }

    @include medium {
        $h1: 3rem;
        $h2: 2.5rem;
        $h3: 2.2rem;
        $h4: 2rem;
        $p: 1.2rem;

        h1 {
            font-size: $h1;
            @include nomargin;
        }
        h2 {
            font-size: $h2;
            @include nomargin;
        }
        h3 {
            font-size: $h3;
            @include nomargin;
        }
        p {
            font-size: $p;
            @include nomargin;
        }
    }
    @include large {
        $h1: 3rem;
        $h2: 2.5rem;
        $h3: 2.2rem;
        $h4: 2rem;
        $p: 1.2rem;

        h1 {
            font-size: $h1;
            @include nomargin;
        }
        h2 {
            font-size: $h2;
            @include nomargin;
        }
        h3 {
            font-size: $h3;
            @include nomargin;
        }
        p {
            font-size: $p;
            @include nomargin;
        }
    }
    @include xlarge {
        $h1: 3rem;
        $h2: 2.5rem;
        $h3: 2.2rem;
        $h4: 2rem;
        $p: 1.2rem;

        h1 {
            font-size: $h1;
            @include nomargin;
        }
        h2 {
            font-size: $h2;
            @include nomargin;
        }
        h3 {
            font-size: $h3;
            @include nomargin;
        }
        p {
            font-size: $p;
            @include nomargin;
        }
    }
    @include xxlarge {
        $h1: 3rem;
        $h2: 2.5rem;
        $h3: 2.2rem;
        $h4: 2rem;
        $p: 1.2rem;

        h1 {
            font-size: $h1;
            @include nomargin;
        }
        h2 {
            font-size: $h2;
            @include nomargin;
        }
        h3 {
            font-size: $h3;
            @include nomargin;
        }
        p {
            font-size: $p;
            @include nomargin;
        }
    }
    @include xxxlarge {
        $h1: 3rem;
        $h2: 2.5rem;
        $h3: 2.2rem;
        $h4: 2rem;
        $p: 1.2rem;

        h1 {
            font-size: $h1;
            @include nomargin;
        }
        h2 {
            font-size: $h2;
            @include nomargin;
        }
        h3 {
            font-size: $h3;
            @include nomargin;
        }
        p {
            font-size: $p;
            @include nomargin;
        }
    }
}
